<!DOCTYPE html>
<div ng-repeat="movie in movies">
	<div style="height:350px" class="movie-view-polaroid container-fluid col-md-4">
		<a href="#/view/{{movie.id}}" title="{{movie.title}}">
			<img ng-src="{{movie.poster_path}}" style="width:100%;" alt={{movie.title}}>
		</a>
		<div class="movie-view-container">
			<p>{{movie.title}}</p>
			<p>{{movie.release_date | date: 'dd MMMM yyyy'}}</p>
			<i class="fa fa-star fa 2w"></i> {{movie.vote_average}}
			<div class="col-md-12">
				<button class="btn btn-danger ng-hide" ng-show="Check_Movie(movie.id)" ng-click="Delete_Movie(movie.id)" style="width:100%">Supprimer</button>
				<button class="btn btn-succes ng-hide" ng-hde="Check_Movie(movie.id)" ng-click="Add_Movie(movie.id)" style="width:100%">Ajouter</button>
				<button class="btn btn-warning ng-hide" style="margin-top:2%;width:100%" ng-show="movie.status == 'false'" ng-click="Update_Movie(movie.id, movie.note_average, movie.poster_url, movie.release_date, movie.title,movie.status)" >Déja vu ?</button>
				<button class="btn btn-success ng-hide" style="margin-top:2%;width:100%" ng-show="movie.status == 'true'" ng-click="Update_Movie(movie.id, movie.note_average, movie.poster_url, movie.release_date, movie.title,movie.status)"> À revoir ?</button>
			</div>
		</div>
	</div>	
</div>
<div style="margin-top:10%;" ng-show="Hide_Search" class="ng-hide" style="text-align:center">
	<h1 style="margin-left:40%;">Aucun film trouvé avec ce titre</h1>
</div>